<ion-view view-title="Jamat Raza e Mustafa, Ranebennur">
  <ion-content class="padding">
    <h2 style="text-align: center;font-style: italic;font-family: Chiller">About Jamaat Raza E Mustafa</h2>
    <p style="font-style: italic;overflow: visible;white-space: normal;">
      Jamat Raza e Mustafa ek gair siyaasi , aalami tanzeem wa tahreek hai. Is Tanzeem ko mujaddid e zamaana, ek sache aashiq e rasool 
          Jamat Raza e Mustafa is a universal organisation founded by Imam Ahmad Raza Khan in 1920.The grand Imam established it to make Muslim religiously, socially and financially strong as well as powerful.The clear purpose of this organisation is to deny misguided sects and protect Muslim belief. There are some of the most important personalities behind the marvellous success of this movement like Hujjatul Islam Allama Muhammad Hamid Raza Khan, Mufti e Azam e Hind Hazrat e Allama Muhammad Mustafa Raza Khan, Sadr ul Shariah Mufti Amjad Ali Azmi, Sher e Beshah e Ahal e Sunnat Allama Hashmat Ali Khan and Sadrul Afazil Hazrat e Allama Sayyid Muhammad Naimuddin Moradabadi etc. (Peace and blessing of Allah be upon them)
    </p>
    <div style="font-style: italic;overflow: visible;white-space: normal;">
      <h2 style="text-align: center;font-family: Chiller">
        About this app
      </h2>
      <div>
        <p>
          Is app ke zariye ap Jamat Raza e Mustafa Ranebennur ki janib se munaqqid kiye jane wale programs ko hasil kar sakte hain. Is app se aap offline sunne ke lie ya age offline share karne ke lie audio bhi download kar sakte hain.
        </p>
      </div>
      <div>
        <h2 style="text-align: center;font-family: Chiller">
          Contact us
        </h2>
        <p>
          Hamara group join karne ke lie pa hamein is no. par message ya call bhi kar sakte hain :-8904320298, 8549868858, 7019476045
          Ya ap chahein to hamein is address par mail bhi kar sakte hain : jamaatrazaemustafaranebennur@gmail.com
        </p>
        <p>
          
        </p>
      </div>
    </div>
  </ion-content>

</ion-view>
